<div class="header flex justify-center">
    <div class=" w-[80%] flex justify-between mt-8">
        <div>
            <img src="../../assets/desktop/logo.svg" alt="">
        </div>
        <div class="h-4 flex justify-center items-center">
            <img src="../../assets/desktop/icon-sun.svg" alt="">
            <button id="light-mode" class="px-4" (click)="onChangeBtn()"><img src="{{btnImg}}" alt=""></button>
            <img src="../../assets/desktop/icon-moon.svg" alt="">
        </div>
    </div>
</div>