<div class="flex justify-center items-center flex-col relative bottom-9">
    <app-search class="w-4/5"></app-search>
    <div class="w-4/5 grid lg:grid-cols-3 gap-6 md:grid-cols-2 sm:grid-cols-1">
        <div *ngFor="let job of displayedCards" class="dark:bg-[#19202D] shadow bg-white col-span-1 rounded-lg pl-6 pt-11 relative mb-12">
            <p class="text-gray-500 font-light pb-2">{{job.postedAt}}<span class="text-2xl font-bold">. </span><span>{{job.contract}}</span></p>
            <h2 class="dark:text-white text-xl font-bold pb-3">{{job.position}}</h2>
            <p class="text-gray-500 font-light pb-11">{{job.company}}</p>
            <p class="text-indigo-500 font-semibold pb-8">{{ job.location }}</p>
            <div class="w-14 h-14 rounded-2xl absolute bottom-56 flex justify-center items-center" [ngStyle]="{backgroundColor:job.logoBackground}">
                <img [src]="job.logo" alt="">
            </div>
        </div>  
    </div>
    <button class="bg-indigo-600 px-5 py-3  text-xl text-white font-bold rounded" *ngIf="data > displayedCards"  (click)="loadMore()">Load more...</button>
</div>
