<div class="flex justify-center items-center flex-col relative bottom-9">
    <app-search class="w-4/5"></app-search>
    <div class="w-4/5 grid lg:grid-cols-3 gap-4 md: grid-cols-2">
        <div class=" bg-white col-span-1 rounded-lg pl-6 pt-11 relative">
            <p class="text-gray-500 font-light pb-2">5h ago <span class="text-2xl font-bold">. </span><span>Full Time</span></p>
            <h2 class="text-xl font-bold pb-3">Senior Software Engineer</h2>
            <p class="pb-11">Scoot</p>
            <p class="text-indigo-500 font-semibold pb-8">United Kingdom</p>
            <div class="w-14 h-14 rounded-2xl bg-orange-400 absolute bottom-56 flex justify-center items-center">
                <img src="../../assets/logos/scoot.svg" alt="">
            </div>
        </div>
        <div class=" bg-white col-span-1 rounded-lg pl-6 pt-11 relative">
            <p class="text-gray-500 font-light pb-2">5h ago <span class="text-2xl font-bold">. </span><span>Full Time</span></p>
            <h2 class="text-xl font-bold pb-3">Senior Software Engineer</h2>
            <p class="pb-11">Scoot</p>
            <p class="text-indigo-500 font-semibold pb-8">United Kingdom</p>
            <div class="w-14 h-14 rounded-2xl bg-red-500 absolute bottom-56 flex justify-center items-center">
                <img src="../../assets/logos/blogr.svg" alt="">
            </div>
        </div>
        <div class=" bg-white col-span-1 rounded-lg pl-6 pt-11 relative">
            <p class="text-gray-500 font-light pb-2">5h ago <span class="text-2xl font-bold">. </span><span>Full Time</span></p>
            <h2 class="text-xl font-bold pb-3">Senior Software Engineer</h2>
            <p class="pb-11">Scoot</p>
            <p class="text-indigo-500 font-semibold pb-8">United Kingdom</p>
            <div class="w-14 h-14 rounded-2xl bg-slate-600 absolute bottom-56 flex justify-center items-center">
                <img src="../../assets/logos/vector.svg" alt="">
            </div>
        </div>
        
        
    </div>
</div>